
<h1 class="display-5">List Of Pies</h1>

<partial name="_ListPartial"></partial>

<div class="button">
    <a class="btn btn-primary" asp-controller="Pie" asp-action="List" asp-route-id="0">Top</a>
</div>