@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Pie Shop</h1>
</div>

<div>
    <span> <a asp-controller="Pie" asp-action="List" asp-route-id="0"><img src="~/Images/home.jpg" width="900" hight="900" class="center sstyle rounded"></a> </span>
</div>
