html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo {
    padding: 0px 50px 0px 30px;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.btncolor {
    color: #ffbc44;
}

.space {
    padding: 0px 30px 0px 0px;
}


.sstyle{
    border:1px solid ;
    border-color:black;
}

.paddingg {
    padding: 30px 10px 20px 10px;
}

.spacing{
    padding:0px 0px 0px 30px;
}

.buttonn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding:10px 10px 10px 10px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

a {
    color: #282a2e;
    text-decoration: none;
}

a:hover, a:focus {
    color: #6d727d;
}
